body{
  background-color: whitesmoke;
  padding: 15px;

}

img {
  width: 200px;
}
  
  /* Agrupamentos por intervalos*/
  
  #AgrupamentoPorIntervalos {
    background-color: white;
    width:  70%;
    margin: auto;
    border-radius: 20px;
  }

  .Titulos {
    margin: auto;
    text-align: center;
  }

  .divDosAgrupamentos {
    text-align: center;
    left: 3px;
    border: black solid 1px;
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
  }

  .inputDosAgrupamentos {
    display: inline-block;
    margin: 0 auto;
  }

  #botaoDeAdicionar {
    margin-top: 15px;
    margin-bottom: 5px;
  }

  /* css das listas */

  .divDasListas {
    margin: auto;
  }

  .divDasDivisoes {
    border: black solid 1px;
    width: 20%;
    display: inline-block;
    margin: auto;
    position: relative;
    left: 135px
  }

  button {
    border-radius: 7px;
    padding: 5px;
    background-color: whitesmoke;
    border: 0.1px solid rgb(122, 122, 122);
    color: rgba(72, 187, 225, 1);
    height: 35px;
  }

  button:hover {
    background-color: rgb(191, 221, 231);
    color: black;
  }

  #fluxograma {
    margin-left: 20px;
    width: 700px;
    margin-top: 40px;
  }


/*Estrutura de dados */

  #EstruturaDeDados {
    background-color: white;
    width:  70%;
    margin: auto;
    border-radius: 20px;
  }

  .table {
    margin: auto;
    width: 300px;
  }

  td input {
    width: 100px;
    height: 25px;
  }

  /*usei css para mudar o tamanho dos botões e suas localizações */
  #botaoDeGeracao{
    position: relative;
    left: 550px;
    bottom: 120px;
    width: 100px;
  }

  #botaoDeJogarNasBarras {
    position: relative;
    left: 445px;
    bottom: 80px;
    width: 100px;
  }

  #botaoDeOrganizacao {
    position: relative;
    left: 340px;
    bottom: 30px;

  }

  /*Segunda parte da estrutura de dados, a lista em si*/


  .divDasBarras {
    margin: 0 auto;
    width: 400px;
  }

  .barrasVerdes {
    height: 20px;
    width: 20px;
    background-color: lightgreen;
    display: inline-block;
    margin: 8px;
    border-radius: 5px;
  }

  .numerosAbaixoDasBarras{
    display: inline-block;
    margin: 8px;
    margin-top: 1px;
    height: 20px;
    width: 20px;
  }

  /*Diferentes gráficos */

  #DiferentesGraficos {
    margin: auto;
    margin-bottom: 8px;
    height: 650px;
    width: 650px;
  }

  canvas{
    margin-left: 100px;
    border: 1px solid gainsboro;
    background: white;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    max-width: 500px;
    max-height: 500px;
  }

  .botoesDoGraficoEmBaixo {
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .botoesDoGrafico {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(255, 0, 0);
  }

  .botoesDoGrafico:hover {
    color: brown;
  }

  /* grafico para plotar */

  #graficoDinamico {
    margin: auto;
    margin-bottom: 8px;
    height: 650px;
    width: 650px;
  }

  #botoesDoGraficoPlotado {
    margin: auto;
  }

  #primeira {
    margin-left: 220px;
  }

  /* css da árvore binária */

  /*
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    padding: 5rem;
  }
  */
  
  ul {
    list-style-type: none;
  }
  
  .todos {
    cursor: pointer;
  }
  
  .todo::before {
    content: "\2610";
    display: inline-block;
    margin-right: 0.5rem;
  }
  
  .todo.active {
    text-decoration: line-through;
    color: #888;
  }
  
  .todo.active::before {
    content: "\2611";
  }
  
  /* toggler */
  .toggler::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 0.5rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .toggler.active::before {
    transform: rotate(90deg);
  }
  
  .toggler-target {
    display: none;
  }
  
  .toggler-target.active {
    display: block;
  }


  /* Parte do modal: */

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    margin-left: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

   /* The Close Button */
   .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  .imagensDosModais {
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px solid forestgreen;
    background-color: forestgreen;
    color: white;
    display: inline-block;
    padding: 3px;
    }